 html {
  background: url("https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center fixed;
  background-color: black;
  background-size: cover;
  font-family: Quicksand, sans-serif;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#quote-box {
  font-size: larger;
  border: solid white;
  padding: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quote {
  padding: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    #quote-box {
      width: 800px;
      height: 400px;
    }
    body {
      font-size: x-large;
    }
  }

